html{
  background-color:#fff;
}
$maincolor:#f55340;
@mixin animate_line_moving{
  //width:100%;
  height:5px;
 // position:fixed;
  background-color:$maincolor;
  -webkit-animation:move_line linear 3s;
  -moz-animation:move_line linear 3s;
  -o-animation:move_line linear 3s;
  -ms-animation:move_line linear 3s;
  animation:move_line linear 3s;
}
@mixin animate_circle_moving{
  width: 25px;
  height: 25px;
  border: 3px solid transparent;
  border-left-color:$maincolor;
  border-top-color:$maincolor;
  position: fixed;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  -webkit-animation:move_circle linear infinite 400ms;
  -moz-animation:move_circle linear infinite 400ms;
  -o-animation:move_circle linear infinite 400ms;
  -ms-animation:move_circle linear infinite 400ms;
  animation:move_circle linear infinite 400ms;
}
@mixin animate_img_loading{
  position:absolute;
  top:50%;
  left:50%;
  transform:translateY(-50%);
  -webkit-transform:translateY(-50%);
  -moz-transform:translateY(-50%);
  -ms-transform:translateY(-50%);
}
.display_none{
  display:none;
}
.loading_line{
  @include animate_line_moving;
}
@keyframes move_line{
 0%{ width:0%;}
 40%{width:40%;}
 70%{width:70%;}
 100%{width:100%;}
}
@-webkit-keyframes move_line{
 0%{ width:0%;}
 40%{width:40%;}
 70%{width:70%;}
 100%{width:100%;}
}
@-moz-keyframes move_line{
 0%{ width:0%;}
 40%{width:40%;}
 70%{width:70%;}
 100%{width:100%;}
}
.loading_circle{
  @include animate_circle_moving;
}
@keyframes move_circle{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@-webkit-keyframes move_circle{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@-moz-keyframes move_circle{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@-ms-keyframes move_circle{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.loading_img{
  @include animate_img_loading;
  img{
  max-width:80px;
  }
}

.header{

  .header_page{
    height: 80px;
    background:#fff;
    margin-top: 12px;
    position:relative;
    z-index:9999;

    i{
    float: right;
    position: ar;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 30px;
    color: #000;
    cursor:pointer;
    }

  .img_header{
    position:absolute;
    top:50%;
    left: 25px;
    transform:translateY(-50%);
   -webkit-transform:translateY(-50%);
   -moz-transform:translateY(-50%);
   -ms-transform:translateY(-50%);
  }
  nav{
   display:inline-block;
   float:right;
   margin-top: 32px;
   
   ul{
   
   li{
   padding-right:43px;
   
   a{
   color: #8c8c8c;
   text-decoration:none;
   }

   }
   }
  }
 }
}
.color_overlay{
  background-image: -webkit-linear-gradient( 135deg, rgba(243,71,75,.9) 0%, rgba(255,152,0,.9) 100%);
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
}

.services{
  background:url(../img/services-bg.jpg) center center no-repeat;
  background-size:cover;
  padding-top:75px;
  padding-bottom:80px;
  margin-top:130px;
  display:none;
  position:relative;

  .overlay{
   background-color:#232732;
   position:absolute;
   top:0px;
   left:0px;
   width: 100%;
   height: 100%;
   opacity: .6;

  }


.icon-bulb:before {
  content: "\e906";
}
.icon-magic:before {
  content: "\e911";
}
.icon-rocket:before {
  content: "\e918";
}
.icon-layout:before {
  content: "\e913";
}
.icon-desktop:before {
  content: "\e90c";
}
.icon-camera:before {
  content: "\e908";
}


h4{
  color:#fff;
  font-size: 24px;
  margin-top:35px;
  margin-bottom:25px;
  font-family: 'Montserrat', sans-serif;
  transition:all .3s;

  &:hover{
  color:#f3474b;
  cursor:pointer;
  }
}
p{
  color: #bfbfbf;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.margin_bottom{
  margin-bottom:95px;
}

}

@-moz-document url-prefix() {
    .services {
        margin-top: 265px;
    }
}






/* media query */

@media(max-width:1199px){
  .header{
  .header_page{
   nav{
   ul{
   li{
    padding-right:28px;
   }
   }
   }
  } 
}
}

@media(max-width:992px){
  .header{
  .header_page{
   nav{
   ul{
   li{
    display:none;
   }
   }
   }
  } 
}
}

@media(min-width:993px){
  .header{
  .header_page{
  i{
  display:none;
  }
  }
  }
}

.fullheader{
  opacity:0;
  transition: all .4s;

}

.display_fullheader{
  opacity:1;
  position: fixed;
  width: 100%;
  margin-top: -12px;
  z-index: 9999;
}

.slider-details{
  h1{
  font-size: 48px;
  text-transform: capitalize;
  font-weight:700;
  color:#fff;
  margin-top:130px;
  }
  p{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 1.6;
    font-family:'Roboto', sans-serif;
  }
  button{
    padding: 0px 40px;
    background-color: transparent;
    border: none;
    background-color: #fff;
    line-height: 50px;
    font-size: 16px;
    border-raduis: 4px;
    border-radius: 25px;
    color:$maincolor;
  }
  i{
   width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border: 1px solid;
    border-radius: 50%;
    font-size: 11px;
    margin-left: 20px;
    color:#fff;
  }
  span{
  color:#fff;
  margin-left: 15px;
  }
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?mgkt9a');
  src:  url('../fonts/icomoon.eot?mgkt9a#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?mgkt9a') format('truetype'),
    url('../fonts/icomoon.woff?mgkt9a') format('woff'),
    url('../fonts/icomoon.svg?mgkt9a#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color:#f3474b;
  font-size: 50px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.about_us{
  background-image:url(../img/about-bg.jpg);
  background-repeat:no-repeat;
  background-position: center top;
  background-size:cover;
  padding-bottom:30px;
  display:none;

  .margin_top{
   margin-top:60px;
  }
  .details-wrapper{
   p{
    font-size:18px;
    color:rgb(140,140,140);
    margin-bottom: 30px;
    opacity: 0.7;
   }
  }
  .details{
   p{
    font-size:18px;
    color:rgb(140,140,140);
    opacity: 0.7;
    margin-bottom: 30px;
   }
  }

  h3{
   color: #1c1c1c;
   font-size: 36px;
   font-family: 'Montserrat', sans-serif;
   padding-top:100px;
   margin-bottom:38px;
  }
  p{
   color: #666666;
   font-size: 22px;
   font-family: 'Roboto', sans-serif;
  }
  ul{

  li{
    background-color: #f5f5f5;
    width: 144px;
    height: 144px;
    margin-right: 30px;
    margin-bottom: 30px;
    list-style:none;


    &:hover{
      background-image: -webkit-linear-gradient( 135deg, rgba(243,71,75,.9) 0%, rgba(255,152,0,.9) 100%);
      cursor:pointer;

      h6{
      color:#fff;
      }
      
     .icon-cpu:before,.icon-printer:before,.icon-layout:before,
      .icon-building:before,.icon-pie:before,.icon-headset:before{
      color:#fff;
      }

    }

    i{
    padding-top: 20px;
    padding-bottom: 15px;
    }
    h6{
     text-transform: uppercase;
     color:#666666;
    }
   
    .icon-cpu:before {
    content: "\e90b";
    color: #666666;
    font-size:30px;
    }
    .icon-printer:before {
    content: "\e917";
    color: #666666;
    font-size:30px;
    }
    .icon-layout:before {
    content: "\e913";
    color: #666666;
    font-size:30px;
    }
    .icon-building:before {
    content: "\e905";
    color: #666666;
    font-size:30px;
    }
    .icon-pie:before {
    content: "\e916";
    color: #666666;
    font-size:30px;
    }
    .icon-headset:before {
    content: "\e910";
    color: #666666;
    font-size:30px;
    }

  }
  }
  #circle,#circle2,#circle3{
    canvas{
    transform: rotate(90deg);
    position:relative;
    }
    span{
    position: absolute;
    left: 50px;
    top: 45px;
    }
  }
  .title{
   font-size: 14px;
   color: #616161;
   text-transform: uppercase;
   margin-top: 10px;
   line-height: 1.71;
  }
}


@media(min-width:768px) and (max-width:991px){
  .media_width{
   width:33%;
  }
}


.gallery{
  background:#f5f5f5;
  padding-bottom: 100px;
  display:none;
  margin-bottom: -20px;

  .title{
  h3{
  font-family: 'Montserrat', sans-serif;
  font-size:36px;
  color:#1c1c1c;
  padding-top:105px;
  }
  .sub_title{
   color: #666666;
   font-size:22px;
   padding-top:45px;
  }
  }

  .item{

  ul{
    max-width: 820px;
    background-color: #fff;
    padding: 12px 30px;
    border-radius: 2px;
    margin-top:50px;
    position:relative;

    li{
      line-height: 40px;
      margin-right: 10px;
      font-size: 12px;
      letter-spacing: .5px;
      opacity: .6;
      cursor: pointer;
      padding: 0;
      color: #a6a6a6;
      font-weight: 700;
      position: relative;
      margin-right: 50px;

      &:hover{
      &:before{
      content:'';
      width:50%;
      height:1px;
      background-color:red;
      position:absolute;
      bottom:5px;
      left:0px;
      }
      }
    }
    .active{
    &:before{
      content:'';
      width:50%;
      height:1px;
      background-color:red;
      position:absolute;
      bottom:5px;
      left:0px;

      }
    }
  }
  }

 .wrapper {
  //width: 960px;
  //margin: 0 auto;
  //overflow: hidden;
  //padding: 0px 0px 10px 10px;

  .col { 
  float: left;
  width: 33.33333333%;

  .x {
   //background: #ccc;
   display: block;
   margin:32px 32px 0px -5px;
   position:relative;

   img{
   height:100%;

   &:hover{
   cursor:pointer;
   }
   }
   .gallery_overlay{
    background-image: -webkit-linear-gradient( 135deg, rgba(243,71,75,.9) 0%, rgba(255,152,0,.9) 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity:0;

    p{
    font-size:14px;
    color:#fff;
    margin-left:28px;
    margin-top:32px;
    }
    h3{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px 28px 20px;
    color:#fff;
    }
   }
  }
  }
  }

}

@media(max-width:500px){
  .gallery{
  .wrapper{
  .col{
  float:none;
  width:100%;

  .x{
  img{
  margin:auto 20px;
  }
  }
  }
  }
  }
}


.demo-vedio{
  background:url(../img/stats-bg.jpg) no-repeat center center;
  background-size:cover;
  padding-bottom:320px;
  display:none;

  h2{
  color:#fff;
  font-size:36px;
  text-transform: initial;
  padding-top:100px;
  }
  p{
  color:#bfbfbf;
  font-size:22px;
  padding-top:40px;
  }
}



.counter{
  display:none;
  padding-top:90px;
  padding-bottom:100px;
  //background-color:red; 

  .icon-hover{
  &:hover{
  .icon-hat:before,.icon-headset:before,.icon-coffee:before,.icon-user-laptop:before{
  color: #f3474b;
  cursor:pointer;
  }
  }
  }

  .icon-hat:before {
    content: "\e90f";
    color: #151414;
    font-size:45px;
    }

    .icon-headset:before {
    content: "\e910";
    color: #151414;
    font-size:45px;
    }

    .icon-coffee:before {
    content: "\e909";
    color: #151414;
    font-size:45px;
    }

    .icon-user-laptop:before {
    content: "\e91a";
    color: #151414;
    font-size:45px;
    }

    h2{
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #151414;
    padding-top:50px;
    padding-bottom:18px;
    }
    p{
    color: #676767;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.71;
    }
}

.Team{
  background-color: #f5f5f5;
  padding-bottom:100px;
  display:none;
  margin-bottom:-20px;

  h2{
   color: #1c1c1c;
   font-size:36px;
   padding-top: 80px;
   padding-bottom: 35px;
  }
  p{
   font-size: 22px;
   color:#666666;
   padding-bottom:80px;
  }

 .owl-carousel .owl-dot.active span{
    background: none !important;
    border: 1px solid #f3474b;
    transform: scale(1.8);
}

.owl-carousel .owl-dot span{
  background: #f3474b;

  &:hover{
  background: #f3474b;
  }
}

.owl-prev{
  position:absolute;
  top: 50%;
  left: -70px;
  font-size: 14px;
  width: 36px;
  height: 36px;
  border-radius: 30px !important;;
  line-height: 28px;
  background: transparent !important;
  border: 2px solid #e0e0e0 !important;
  color: #e0e0e0 !important;    
}
.owl-next{
  position:absolute;
  top: 50%;
  right:-70px;
  font-size: 14px;
  width: 36px;
  height: 36px;
  border-radius: 30px !important;
  line-height: 28px;
  background: transparent !important;
  border: 2px solid #e0e0e0 !important;
  color: #e0e0e0 !important; 
}
.owl-dots{
  margin-top:30px;
}
}

@media(max-width:1086px){
  .Team{
  .owl-nav{
  display:none;
  }
  }
}



.price{
  background-image: -webkit-linear-gradient( 135deg, rgb(243,71,75) 0%, rgb(255,152,0) 100%);
  padding-bottom:90px;
  display:none;
   
   .title{
   h2{
   font-size:36px;
   color:#fff;
   padding-top:80px;
   }
   p{
   font-size:22px;
   color:#fff;
   padding-top:45px;
   padding-bottom:60px;
   }
   }

   .pricing_table{
    background-color:#fff;
    padding: 60px 20px;
    margin-bottom:20px;

    &:hover{
    .cric{
    background-color:#ffefd9;

    .cric2{
    background-color:#f87641;
    }

    }
   
    .icon-building:before ,.icon-network:before,.icon-chair:before,.icon-handshake:before{
    color:#fff;
    }

    button{
    background-image: -webkit-linear-gradient( 135deg, rgb(243,71,75) 0%, rgb(255,152,0) 100%);
    border:none;
    color:#fff;
    }
    }

    h3{
     color: #151414;
     font-size: 18px;
     letter-spacing: 4px;
     margin-bottom: 40px;
    }
    .cric{
      background:#fafafa;
      width: 110px;
      height: 110px;
      margin: auto;
      border-radius: 50%;
      position:relative;
      transition:all .2s;

      .cric2{
        background:#fff;
        width: 90px;
        height: 90px;
        position:absolute;
        top: 10px;
        left: 10px;
        border-radius: 50%;
        transition:all .2s;

        .icon-building:before {
           content: "\e905";
           font-size:40px;
           position: absolute;
           top: 24px;
           left: 24px;
           transition:all .2s;
         }

      }
    }

 

 .cric{
    .cric2{
      .icon-network:before {
           content: "\e920";
           font-size:40px;
           position: absolute;
           top: 24px;
           left: 24px;
           transition:all .2s;
         }
      }
    }


.cric{
    .cric2{
      .icon-chair:before {
           content: "\e91f";
           font-size:40px;
           position: absolute;
           top: 24px;
           left: 24px;
           transition:all .2s;
           color:#fff;
         }
      }
    }


    .cric{
    .cric2{
      .icon-handshake:before {
           content: "\e91e";
           font-size:40px;
           position: absolute;
           top: 24px;
           left: 24px;
           transition:all .2s;
         }
      }
    }

   .price-group{
    margin-top:40px;
    font-weight:700;
    color: #f3474b;
    
    .dollar{
     font-size:25px;
     font-weight:100;
     vertical-align: top;
    }
    .price_value{
     font-size:40px;
     line-height: 1;
    }
    .time{
    font-weight: 100;
    }
   }

   .price_feature{

    margin-top:40px;

    li{
    margin-bottom: 25px;
    font-weight: 300;
    text-transform: uppercase;
    color: #151414;
    list-style:none;
    }
   }

  button{
    background: transparent;
    border: 2px solid #e0e0e0;
    padding: 10px 40px;
    border-radius: 22px;
    color: #f3474b;
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 15px;
    transition:all .2s;
  }
   
   .differ_btn{
    background-image: -webkit-linear-gradient( 135deg, rgb(243,71,75) 0%, rgb(255,152,0) 100%);
    border:none;
    color:#fff;
   }


   }

}

@media(max-width:991px){
  
  .cleardiv{
     clear:both;
  }
}



.contact_us{
  padding-top:100px;
  padding-bottom:100px;
  display:none;

  .contact-details{
          padding-top: 30px;
  li{
  margin-bottom:30px;
  list-style:none;
  }

   .icon-location:before {
    content: "\e914";
    font-size:40px;
    }

   .icon-phone:before {
    content: "\e915";
    font-size:40px;
    }
    .icon-envelope:before {
    content: "\e90d";
    font-size:40px;
    }

    h3{
    font-size:24px;
    color: #151414;
    padding-top:25px;
    }
    p{
    font-size: 18px;
    color:#8c8c8c;
    padding-top:15px;
    }
  }


 .get_in_touch{

   h2{
     color: #151414;
     margin-bottom: 40px;
     font-size: 36px;
   }
   p{
    font-size: 20px;
    color: #8c8c8c;
    padding-bottom:70px;
   }
 }

 form{
 .form-control{
    border: none;
    margin-bottom: 50px;
    box-shadow: none;
    border-bottom: 2px solid #e0e0e0;
    border-radius: 0;
    font-size:16px;
   }
   button{
        background: transparent;
        border: none;
        border: 1px solid #f3474b;
        padding: 10px 60px;
        border-radius: 22px;
        cursor: pointer;
        color: #f3474b;
        font-weight: 600;
   }
 }
}


.menu_mobile{
  display:none;
  background-color:#fff;
  height: 100%;
  width: 420px;
  position: fixed;
  top: 0;
  right:-420px;
  z-index:999;
  padding: 100px 30px 30px 50px;
  transition:all .6s;

  ul{
  li{
      padding: 0px 0px 30px 0px;
      list-style:none;
  a{
    color: #000;
    text-transform: uppercase;
    text-decoration:none;

    &:after{
    content: "\e91b";
    font-family: "icomoon";
    font-size: 20px;
    margin-left: 10px;
    float: right;
    }
  }
  }
  }
}

.open{
  right:0;
}

@media(min-width:993px){
  .menu_mobile{
  display:none !important;
  }
}

@media(max-width:448px){
  .menu_mobile{
  width:320px;
  }
}

@media(max-width:300px){
  .menu_mobile{
  width:280px;
  }
}


.cb-slideshow{
  li{
  list-style:none;
  }
}